body {
  font-family: '宋体';
}

.json-wrap {
  border: none;
  margin-left: 2em;
}

.json-wrap .indent {
  padding-left: 2em;
  border-left: 1px dotted #bbb;
  position: relative;
}

.json-wrap .close>.indent {
  display: none;
}

.json-wrap .dot {
  display: none;
  color: #70910f;
  cursor: pointer;
}

.json-wrap .close>.dot {
  display: inline;
}

.json-wrap .expand {
  position: absolute;
  left: -20px;
  top: 7px;
  width: 0px;
  height: 0px;
  border-top: 8px solid #25ff25;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-bottom: 8px solid transparent;
  cursor: pointer;
}

.json-wrap .close>.expand {
  left: -16px;
  top: 2px;
  border-top: 8px solid transparent;
  border-right: 8px solid transparent;
  border-left: 8px solid #25ff25;
  border-bottom: 8px solid transparent;
}

.json-wrap .line {
  position: relative;
}

.json-wrap span {
  font-size: 14px;
  font-family: Arial;
}

.json-wrap .symbol {
  color: rgb(167, 37, 216);
  font-weight: 700;
}

.json-wrap .colon {
  color: #acd33a;
  font-weight: 700;
}

.json-wrap .key {
  color: #ff3e3e;
}

.json-wrap .undefined {
  color: #03ffff;
}

.json-wrap .null {
  color: #03ffff;
}

.json-wrap .string {
  color: #00afff;
}

.json-wrap .number {
  color: rgb(243, 128, 30);
}

.json-wrap .boolean {
  color: #d53aff
}